@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic);
body {
    font-family: 'Anton', sans-serif;
    /*   background-color: blueviolet; */
}

#contTest #imgCte img {
    display: block;
    width: 40%;
    height: 40%;
    border-radius: 100%;
    margin: 0 auto;
    margin-top: 15px;
}


/*Carrusel de Testimonios*/

#tituloTesti {
    text-align: center;
    color: white;
    padding-top: 8%;
}

#Testppal {
    height: 100vh;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    background-color: rgba(70, 71, 71, 0.849);
}

#Testppal a span {
    width: 3em;
    height: 3em;
}

.quote-section {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    margin-top: 3%;
    border-radius: 10px;
    color: #eee;
    padding: 15px;
    background: rgb(123, 128, 136);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
}

.autor-section {
    width: 100%;
    margin: 0 auto;
    color: #eee;
    border-radius: 5px;
    background: rgb(6, 182, 251);
    padding: 5px;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    font-size: 1.1em;
}

#ql {
    padding: 0px 15px 0px 15px;
}

#qr {
    padding: 0px 15px 0px 15px;
}


/* .carousel-control {
    top: inherit;
    bottom: 30px;
    font-size: 20px;
    left: inherit;
    z-index: 999;
    width: 2%;
    margin-right: 5%;
}

.carousel-control.left {
    background-image: none;
    filter: none;
    right: 45px;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: none;
    filter: none;
} */

#contTest {
    width: 70%;
    margin: 0 auto;
    /* display: flex; */
}

#imgCte {
    width: 45%;
    margin: 0 auto;
    /*  margin-right: 5px; */
}

#imgCte span {
    font-size: 10em;
}

#textTest {
    width: 90%;
    margin: 0 auto;
    font-size: 1.3em;
}

.offset:before {
    display: block;
    content: "";
    height: 4rem;
    margin-top: -4rem;
}

.purpura .navbar-brand {
    width: 40%;
}

.margensup-sm {
    margin-top: 30px;
}

h1 {
    font-size: 4em;
    font-weight: 600px;
    line-height: 80px;
}

h2 {
    font-size: 2.5em;
}

h5 {
    margin-bottom: 0;
}

h5.card-title {
    margin-bottom: 2px;
}

p {
    font-size: 20px;
    color: #cfc5c5;
    line-height: 1.8;
    margin-bottom: 0;
}

.caract {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3%;
    margin-top: 3%;
}

.caract h1,
h3 {
    color: #fafafa;
}

.caract i {
    color: #da0cf5;
}

.tituloTecno {
    color: #fafafa;
    padding-top: 3%;
}

.bg-darkTech {
    background-image: url(../img/recursos.jpg);
    background-attachment: fixed;
    z-index: -2;
    background-size: cover;
}

.filaTech {
    margin: 0 auto;
}

.bg-dark {
    background-color: #1a1a1a!important;
}

.mensaje-exito h3 {
    text-align: center;
}

.btn {
    font-size: 14px;
    padding: 15px 26px;
    min-width: 200px;
    border-radius: 5px;
    display: inline-block;
}

.botonContacto span {
    width: 100%;
    margin: 0 auto;
}

.btnContacto {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.btn-blanco-head {
    background-color: #ffffff;
    color: #1a1a1a;
    border: 2px solid #ffffff;
}

.btn-blanco {
    background-color: #ffffff;
    color: #1a1a1a;
    border: 2px solid #ffffff;
    width: 100%;
}

.btn-blanco:hover {
    color: #05d9ff;
}

.btn-blanco i {
    font-size: 1em;
    color: #000000;
}

.btn-negro {
    background-color: #202020;
    color: #fafafa;
    display: inline-block;
    width: 100%;
}

.btn-negro:hover {
    color: #05d9ff;
}

.btn i {
    font-size: 18px;
    margin-left: 5px;
}

.navbar {
    background-color: rgba(208, 55, 247, 0.541);
}

.navbar.navbar-dark .breadcrumb .nav-item .nav-link:hover,
.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    color: rgb(7, 251, 39);
}

.footerBg {
    background-color: rgba(102, 0, 128, 1);
}

.top-nav-collapse {
    background: rgba(32, 1, 26, 0.76)!important;
    height: 5rem;
}

.top-nav-collapse::after {
    background: rgba(32, 1, 26, 0.76)!important;
}

.top-nav-collapse .navbar-brand img {
    width: 3%;
}

.fondo {
    height: 100vh;
    background-image: url("/img/webDevDark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.textolanding {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 5%;
    z-index: 1;
    color: white;
    margin: 0 auto;
}

#portafolio2 .carousel-inner .carousel-item img {
    height: 100vh;
}

.bkg-claro-gris {
    background-color: #c4bcbc;
}

.miembrostexto {
    color: #ffffff;
}

.planes {
    margin-top: 10px;
    padding: 50px 80px;
    border-radius: 2px;
    width: 100%!important;
}

.planes ul {
    list-style-type: square;
}

.planesClaros {
    background-color: #ffffff;
    border: 2px solid #1a1a1a;
}

.planesOscuros {
    background-color: #1a1a1a;
    border: 2px solid #000000;
    color: #ffffff;
}

#precios {
    background: #797373;
    padding-bottom: 30px;
}

.navbar .logoMzDev {
    width: 30%;
}

.logoMzDev img {
    max-width: 250px;
    min-width: 160px;
}

.contenido-centrado {
    /*     max-width: 800px; */
    margin: 0 auto;
    text-align: center;
    padding-top: 15%;
    height: 100vh;
    /*     border: 1px solid white; */
}

.wrapContacto {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
}

.contenido-centradoFooter {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 3%;
    text-align: center;
    padding-top: 5%;
    height: 55vh;
    color: #ffffff;
}

.contactoTexto::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px 0px 0px 20px;
    top: 0;
    left: 0;
    background: rgba(55, 170, 247, 0.897);
    z-index: 1;
}

.contactoTexto {
    margin: 0;
    position: relative;
    background-image: url('../img/contacto.jpg');
    background-size: cover;
    background-position: center center;
    border-radius: 20px 0px 0px 20px;
}

#contactoRespuesta {
    height: 100vh;
}

.itemTexto {
    color: #fff;
    position: relative;
    z-index: 1;
    align-items: center;
}

.itemTexto,
p,
i {
    color: #fff;
}

.containerRespuesta {
    width: 70%;
    margin: 0 auto;
}

.itemTexto .logoUsuario {
    font-size: 100px;
    display: block;
    margin-top: 3%;
    margin-bottom: 3%;
}

.logoCliente {
    font-size: 100px;
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}

.itemTexto .contactomail {
    margin-top: 3%;
}

.itemTexto .contactomobile {
    font-size: 22px;
}

.contenido-centradoFooter a {
    color: #ffffff;
    text-decoration: none;
}

.contenido-centradoFooter a:hover {
    color: #ffffff;
}

.contenido-centradoFooter ul {
    margin-top: 3%;
}

.contenido-centradoFooter .list-inline .list-inline-item {
    padding: 1% 1.3%;
}

.contenido-centradoFooter .list-inline .list-inline-item .ion {
    color: white;
}

.contenido-centrado-portafolio {
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
    padding-top: 3%;
}

.contenido-centrado-portafolio p {
    color: black;
    text-transform: uppercase;
}

.contenedor-portafolio {
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
}

.contactoTexto {
    text-align: center;
}

.card-porta {
    margin-top: 30px;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.card-porta:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#portafolio .card-porta .card-text {
    font-size: 1rem;
    line-height: 1.4rem;
    color: #797373;
}

.foto {
    margin-top: 10px;
    margin-bottom: 20px;
}

.foto.miembro-contenedor {
    position: relative;
    margin: 10px 0;
    line-height: normal;
}

.miembro- img {
    border-radius: 30px;
}

.miembro-detalles {
    position: absolute;
    color: #ffffff;
    bottom: 0;
    left: 25px;
    line-height: normal;
}

.miembro-detalles span {
    font-size: 1.1em;
}

.miembro-detalles i {
    padding: 0 5px;
}

.list-inline {
    margin-bottom: 5px;
}

a i {
    font-size: 1.8em;
    color: rgb(0, 217, 255);
}

i.iconosRedes {
    font-size: 1.2em;
    color: #ffffff;
}

#nosotros.contariner.card-deck.card {
    border: 1px solid red;
}

#nosotros {
    padding-bottom: 20px;
}


/* Media queries */


/* Extra small devices (portrait phones, less than 576px 575.98) */

@media (max-width: 600px) {
    #tituloTesti {
        font-size: 1.3em;
        text-align: center;
        color: white;
        padding-top: 15px;
    }
    #Testppal {
        width: 100%;
        height: 600px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
        background-color: rgba(70, 71, 71, 0.849);
    }
    .quote-section {
        width: 90%;
        margin: 0 auto;
        padding: 20px;
        position: relative;
        margin-top: 3%;
        border-radius: 10px;
        color: white;
        padding: 10px;
        background: rgba(123, 128, 136, 0.3);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 0.75em;
    }
    .autor-section {
        width: 100%;
        margin: 0 auto;
        color: white;
        border-radius: 5px;
        background: rgb(6, 182, 251);
        padding: 5px;
        margin-top: 3%;
        margin-bottom: 3%;
        text-align: center;
        font-size: 1em;
    }
    #contTest {
        width: 95%;
        margin: 0 auto;
        /* display: flex; */
    }
    #imgCte {
        width: 80%;
        margin: 0 auto;
    }
    #imgCte span {
        font-size: 8em;
    }
    #textTest {
        width: 90%;
        margin: 0 auto;
        font-size: 1.3em;
    }
    .bg-darkTech {
        background-image: url(../img/recursos.jpg);
        background-attachment: fixed;
        z-index: -2;
        background-size: cover;
    }
    .filaTech {
        margin: 0 auto;
    }
    .navbar {
        background-color: rgba(52, 4, 65, 0.788);
    }
    .contactoTexto::before {
        border-radius: 0px 0px 0px 0px;
    }
    .contactoTexto::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        /*         border-radius: 20px 0px 0px 20px; */
        top: 0;
        left: 0;
        background: rgba(55, 170, 247, 0.897);
        z-index: 1;
    }
    .contactoTexto {
        position: relative;
        border-radius: 0px 0px 0px 0px;
    }
    .wrapContacto {
        margin-top: 3%;
    }
    .itemTexto .logoUsuario {
        font-size: 60px;
        display: block;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .itemTexto h2 {
        font-size: 1.2rem;
    }
    .itemTexto,
    p,
    i {
        margin-bottom: 10px;
    }
    #contactoRespuesta {
        margin-top: 15%;
    }
    .itemTexto .contactomobile {
        margin-bottom: 3%;
    }
    .mensaje-exito h3 {
        font-size: 1.2rem;
        color: blue;
    }
    .purpura .navbar-brand {
        width: 60%;
    }
    .purpura .navbar-brand img {
        width: 60%;
    }
    .footerBg {
        background-color: rgba(102, 0, 128, 1);
    }
    h1 {
        font-size: 1.8em;
        line-height: normal;
        padding-top: 50%;
    }
    h2 {
        font-size: 1.8em;
    }
    p {
        font-size: 1em;
        line-height: normal;
    }
    .contenedor-portafolio {
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    .fondo {
        height: 100vh;
        background-image: url("/img/webDevDark.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .planes {
        margin-top: 10px;
        padding: 50px 40px;
        border-radius: 2px;
        width: 100%!important;
    }
    #nosotros {
        padding-bottom: 20px;
    }
    #portafolio2 .carousel-inner .carousel-item img {
        height: 100%;
    }
    #testimonios .carousel-inner .carousel-item #contTest {
        height: 100vh;
    }
    .contenido-centradoFooter {
        max-width: 800px;
        margin: 0 auto;
        margin-top: 3%;
        text-align: center;
        padding-top: 5%;
        height: 60vh;
        color: #ffffff;
    }
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    ...
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    #Testppal {
        width: 100%;
        height: 650px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
        background-color: rgba(70, 71, 71, 0.849);
    }
    #contTest {
        width: 90%;
        margin: 0 auto;
        /* display: flex; */
    }
    #imgCte {
        width: 70%;
        margin: 0 auto;
    }
    .purpura .navbar-brand {
        width: 20%;
        margin: 0;
    }
    .purpura .navbar-brand img {
        width: 5%;
    }
    .navbar .navbar-collapse {
        width: 95%;
    }
    .navbar .navbar-collapse .nav-item a {
        font-size: 0.9rem;
    }
    .itemTexto,
    p,
    i {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 1.1rem;
    }
    .mensaje-exito h3 {
        font-size: 1.5rem;
        color: blue;
    }
    .footerBg {
        background-color: rgba(102, 0, 128, 1);
    }
    h1 {
        font-size: 2.6em;
        padding-top: 10%;
        line-height: normal;
    }
    h2 {
        font-size: 1.8em;
        margin-right: 8%;
        margin-left: 8%;
    }
    .contenido-centrado {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        height: 100vh;
    }
    .fondo {
        height: 50vh;
        background-image: url("/img/webDevDark.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    .planes {
        margin-top: 10px;
        padding: 50px 40px;
        border-radius: 2px;
        width: 100%!important;
    }
    .miembro-detalles {
        height: 0.8em;
    }
    .card-deck .card {
        margin: 3px;
    }
    .card-deck .card .card-title {
        font-size: 1em;
    }
    .card-deck .card .card-text {
        line-height: normal;
    }
    #portafolio2 .carousel-inner .carousel-item img {
        height: 100%;
    }
    .contenido-centradoFooter {
        max-width: 800px;
        margin: 0 auto;
        margin-top: 3%;
        text-align: center;
        padding-top: 5%;
        height: 30vh;
        color: #ffffff;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    ...
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    ...
}